@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.googlefont{
    font-family: 'Muli', sans-serif;
}

.googlefontpoppins{
    font-family: 'Poppins', sans-serif;
    color: #041b25;
}